@media screen and (max-width:576px) {
    nav,
    .nav-manu{
        flex-direction: column;
        align-items: center;
    }
    .nav-manu{
       
        margin-top: 20px;
    }
    .nav-manu li{
        margin-top: 15px;
    }
    
}
@media screen and (min-width:577px) and (max-width:960px) {

}